@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-3">John Critchlow Crash Course</h1>

    <br />
    <p>This is me and my family at a Tennessee Titans Game. I love sports and love spending time with the people I love.</p>
    <img src="img/Family.JPG" width="800px" height="450px" />
    <br />
    <br />
    <!--Paragraph about IS413 in div box-->
    <div class="box">
        <p style="text-indent:10%">
            As part of the IS 413 class, I'd love to expound my knowledge in web development. I've been exposed to bits and pieces using during previous IS classes,
            and I am ready for the complexity and all the new avenues we will explore. I'm excited to work with ASP.NET and various libraries that assist in the
            development of web applications. I hope the experience I gain in this class will help me in my future carreers as I am more exposed to a higher level of
            programming. Working as a team is also very important in this class, and I know I will learn leadership and cooperation throughout this course.
        </p>
        <ol>
            Top #3 Jobs I am most interested in:
            <li>Apple Product Manager</li>
            <li>Tesla Technical Program Manager</li>
            <li>Meta Data Scientist</li>
        </ol>
    </div>
</div>
